!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    != SocketStream
    title Welcome
  body
    
    #toolbar.navbar
      .navbar-inner
        h2.brand ss-bbb
        p.navbar-text.pull-right some description
        
    #main.container-fluid
      .row-fluid.row1
      .row-fluid.row2
